body{
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.Numbers{
display: flex;
padding: 20px 10px;
background: #D6E2DE;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}

.tg  {
  border-collapse:collapse;
  width: 200px;
  height: 200px;
  
}

.tg th{
  background-color: #D6E2DE;

}
 
th{
  padding: 5px 0px;
}

button{
  width: 80%;
  height: 100%;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  color: white;
}

#zero{
  width: 90%;
}

.Text{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #A6BBC8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

input{
  height: 40px;
  width: 80%;
  background-color: #D6E2DE;
  border: #D6E2DE;
  border-radius: 5px
}

.color1>th>button{
  background-color: #4E7288;
}
th>button{
  background-color: #7998AC;
}

.equal{
  background-color: orange;
}

